@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* Enable vertical snapping */
  overflow-y: scroll;
}

#anim {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding-top: 200px; /* For larger screens */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

@media (max-width: 1024px) {
  #anim {
    padding-top: 100px; /* Adjust padding for medium screens */
  }
}

@media (max-width: 768px) {
  #anim {
    padding-top: 50px; /* Further reduce padding for small screens */
    height: auto;
  }
}

#woman {
  width: 1200px; 
  height: 700px;
}

img {
  width: 100%; /* Make it responsive */
  height: auto; /* Keep aspect ratio */
  max-width: 100%;
}

@media (max-width: 768px) {
  .skyscraper-svg {
    display: none; /* Remove this to make it visible on smaller screens */
  }
}

#logo {
  max-width: 60%;
  max-height: 60%;
}
.wave-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

header {
  padding: 50px;
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#building-light {
  padding-bottom: 900px;
}

#builds {
  padding-bottom: 225px;
  z-index: 100;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    width: 100%; /* Full-width items on small screens */
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

section {
  height: 100vh;
  width: 100%;
  background-color: #e9ecef;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 1024px) {
  #builds {
    padding-bottom: 100px; /* Adjust for medium screens */
  }

  .phone-image {
    width: 50%; /* Adjust image size for smaller screens */
  }
}

@media (max-width: 768px) {
  #builds {
    padding-bottom: 50px; /* Further adjust for small screens */
  }

  .phone-image {
    width: 80%; /* Full-width images on small screens */
  }
}